### Heroes Of Pymoli Data Analysis

### Demographics

* Of the total 576 players, the vast majority are male (84%) and smaller, but notable proportion of female players (14%). Even though there are more male then female players that made purchases, female players spent in average 10% more money per person then male players and were buying items for almost 6% higher average prices then males.

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%). Players who were buying for the highest prices were younger then 10 years (average price 3.35 dollars) and between 35 and 40 years (average 3.60 dollars per item).

### Top 5 Spenders

* Top 5 spenders spent from 13 to almost 19 dollars per person and bought between 3 and 5 items per person. Together they spent 74.96 dollars.

### Item Popularity

* Most popular item is Oathbreaker (ID number 178) which has been bought 12 times, making 50.76 dollars in total purchase value. This also puts it in the place of most profitable item. Second and third most profitable items are Nirvana (ID number 82) and Fiery Glass Crusader (ID number 145) that made 44.10 and 41.22 dollars in total value (both selling 9 items).

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [257]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [258]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [261]:
player_count = len(purchase_data["SN"].unique())
print(f"Total number of players that made purchases is {player_count}.")

Total number of players that made purchases is 576.

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [262]:
item_count = len(purchase_data["Item ID"].unique())

In [263]:
total_revenue = purchase_data["Price"].sum()

In [264]:
purchases_count = purchase_data["Price"].count()

In [265]:
average_price = total_revenue/purchases_count

In [266]:
summary = pd.DataFrame({"Number of items": [item_count],
                       "Number of Purchases": [purchases_count],
                       "Average Price": [average_price],
                       "Total Revenue": [total_revenue]})

summary["Average Price"] = summary["Average Price"].map("${:,.2f}".format)
summary["Total Revenue"] = summary["Total Revenue"].map("${:,.2f}".format)
summary

   Number of items  Number of Purchases Average Price Total Revenue
0              183                  780         $3.05     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [267]:
gender = purchase_data.groupby("Gender")["SN"].nunique()

In [268]:
gender_count = gender.sum()
female_count = gender["Female"].sum()
male_count = gender["Male"].sum()
others_count = gender["Other / Non-Disclosed"].sum()

In [269]:
female_percent = (female_count/gender_count)*100
male_percent = (male_count/gender_count)*100
others_percent = (others_count/gender_count)*100

In [270]:
summary_gender = pd.DataFrame({"Total Count": [male_count, female_count, others_count],
                       "Percentage of Players": [male_percent, female_percent, others_percent]})

summary_gen = summary_gender.rename(index={0: "Male", 1: "Female", 2: "Other/Non Disclosed"})

summary_gen["Percentage of Players"] = summary_gen["Percentage of Players"].map("%{:.2f}".format)
summary_gen

                     Total Count Percentage of Players
Male                         484                %84.03
Female                        81                %14.06
Other/Non Disclosed           11                 %1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [276]:
purchase_count = purchase_data.groupby("Gender")["Purchase ID"].count()
pur_female_count = purchase_count["Female"].sum()
pur_male_count = purchase_count["Male"].sum()
pur_others_count = purchase_count["Other / Non-Disclosed"].sum()

In [272]:
purchase_male = purchase_data.loc[(purchase_data["Gender"]=="Male"),:]
purchase_male_rev = purchase_male["Price"].sum()
purchase_female = purchase_data.loc[(purchase_data["Gender"]=="Female"),:]
purchase_female_rev = purchase_female["Price"].sum()
purchase_others = purchase_data.loc[(purchase_data["Gender"]=="Other / Non-Disclosed"),:]
purchase_others_rev = purchase_others["Price"].sum()

In [273]:
av_female = purchase_female_rev/pur_female_count
av_male = purchase_male_rev/pur_male_count
av_others = purchase_others_rev/pur_others_count

In [274]:
av_pur_female = purchase_female_rev/female_count
av_pur_male = purchase_male_rev/male_count
av_pur_others = purchase_others_rev/others_count

In [275]:
purchase_frame = pd.DataFrame({"Purchase Count": [pur_female_count, pur_male_count, pur_others_count],
                               "Average Purchase Price": [av_female, av_male, av_others], 
                               "Total Purchase Value": [purchase_female_rev, purchase_male_rev, purchase_others_rev],
                               "Avg Total Purchase per Person": [av_pur_female, av_pur_male, av_pur_others]})
                              
purchase_gen = purchase_frame.rename(index={0: "Female", 1: "Male", 2: "Other/Non Disclosed"})

purchase_gen["Average Purchase Price"]= purchase_gen["Average Purchase Price"].map("${:.2f}".format)
purchase_gen["Total Purchase Value"]= purchase_gen["Total Purchase Value"].map("${:,.2f}".format)
purchase_gen["Avg Total Purchase per Person"]= purchase_gen["Avg Total Purchase per Person"].map("${:.2f}".format)
purchase_gen
#ce najdes se formatting vejco za tisocicami in kako se da ime stolpcu gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other/Non Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [277]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-40", "40+"]

purchase_data["Age Demo"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
age_group = purchase_data.groupby("Age Demo")
age_group_df = pd.DataFrame({"Total Count": age_group["SN"].nunique(), "Percentage of Players": (total_count/player_count) * 100})

age_group_df["Percentage of Players"] = age_group_df["Percentage of Players"].map("%{:.2f}".format)
age_group_df

          Total Count Percentage of Players
Age Demo
<10                17                 %2.95
10-14              22                 %3.82
15-19             107                %18.58
20-24             258                %44.79
25-29              77                %13.37
30-34              52                 %9.03
35-40              31                 %5.38
40+                12                 %2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [279]:
# Find how many rows fall into each bin
summary_age_purchase = pd.DataFrame({"Purchase Count": age_group["Purchase ID"].count(), "Average Purchase Price": age_group["Price"].mean(),
                                    "Total Purchase Value": age_group["Price"].sum(), "Avg Purchase per Person": total_purchase_age/total_count})
summary_age_purchase["Average Purchase Price"] = summary_age_purchase["Average Purchase Price"].map("${:.2f}".format)
summary_age_purchase["Total Purchase Value"] = summary_age_purchase["Total Purchase Value"].map("${:,.2f}".format)
summary_age_purchase["Avg Purchase per Person"] = summary_age_purchase["Avg Purchase per Person"].map("${:.2f}".format)
summary_age_purchase

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase per Person
Age Demo,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-40,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [280]:
top_spenders = purchase_data.groupby("SN")

top_spenders_df = pd.DataFrame({"Purchase Count": top_spenders["Item ID"].count(), 
                                "Average Purchase Price": top_spenders["Price"].mean(),
                               "Total Purchase Value": top_spenders["Price"].sum()})
top_spenders_df = top_spenders_df.sort_values("Total Purchase Value", ascending=False)
top_spenders_df["Average Purchase Price"] = top_spenders_df["Average Purchase Price"].map("${:.2f}".format)
top_spenders_df["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].map("${:,.2f}".format)
top_spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [281]:
popular_df = purchase_data.loc[:, ["Item ID", "Item Name", "Price"]]

ID_name = popular_df.groupby(["Item ID", "Item Name"])
ID_name_df = pd.DataFrame({"Purchase Count": ID_name["Item ID"].count(), 
                           "Item Price": ID_name["Price"].mean(), 
                           "Total Purchase Value": ID_name["Price"].sum()})
ID_name_df = ID_name_df.sort_values("Purchase Count", ascending=False)
ID_name_df["Item Price"] = ID_name_df["Item Price"].map("${:.2f}".format)
ID_name_df["Total Purchase Value"] = ID_name_df["Total Purchase Value"].map("${:,.2f}".format)
ID_name_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [282]:
popular_df = purchase_data.loc[:, ["Item ID", "Item Name", "Price"]]

ID_name = popular_df.groupby(["Item ID", "Item Name"])
ID_name_df = pd.DataFrame({"Purchase Count": ID_name["Item ID"].count(), 
                           "Item Price": ID_name["Price"].mean(), 
                           "Total Purchase Value": ID_name["Price"].sum()})
ID_name_df = ID_name_df.sort_values("Total Purchase Value", ascending=False)
ID_name_df["Item Price"] = ID_name_df["Item Price"].map("${:.2f}".format)
ID_name_df["Total Purchase Value"] = ID_name_df["Total Purchase Value"].map("${:,.2f}".format)
ID_name_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80